body {
  background-color: #fadd9f;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #242424;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 540px) {
  .main::before {
    content: "請旋轉螢幕或移至電腦版使用:)";
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 540px) {
  .container {
    display: none;
  }
}
.background {
  width: 100%;
  height: 450px;
  background-image: url("../img/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 70px auto;
  position: relative;
}
@media (min-width: 540px) and (max-width: 767.98px) {
  .background {
    height: 315px;
  }
}
.letter {
  width: 450px;
  height: 630px;
  border: 10px solid #a7d1c9;
  padding: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-225px);
  z-index: 1;
  visibility: hidden;
}
.letter.show-letter {
  visibility: visible;
}
.letter .title {
  display: inline;
}
.letter .cross {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
.letter .cross .icon-bar {
  transform-origin: -10% 50%;
}
.letter .cross .icon-bar:first-child {
  transform: rotate(45deg);
}
.letter .cross .icon-bar:last-child {
  transform: rotate(-45deg);
}
.letter .cross .icon-bar {
  width: 20px;
  height: 2px;
  background-color: #a7d1c9;
  margin-bottom: 15px;
  display: block;
}
.letter .letter-inner {
  width: 100%;
  height: 470px;
  overflow-y: scroll;
  margin: 15px auto;
  text-indent: 2rem;
}
.letter .letter-inner:before {
  content: "";
  background: linear-gradient(to bottom, transparent, #ffffff);
}
@keyframes signature {
  0% {
    stroke-dashoffset: 447;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes signature-i {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.letter .yuli-ani,
.letter .sara-ani {
  height: 33px;
  margin-left: 10px;
  margin-bottom: -10px;
}
.letter .path-y-ani {
  stroke-dasharray: 447;
  stroke-dashoffset: 447;
  animation: signature 3s 1s;
  animation-fill-mode: forwards;
}
.letter .i-ani {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: signature-i 0.5s 2.5s;
  animation-fill-mode: forwards;
}
.letter .sara-ani {
  animation: signature 3s 5s;
  animation-fill-mode: forwards;
  stroke-dasharray: 447;
  stroke-dashoffset: 447;
}
.letter .signature {
  float: right;
}
.letter .path {
  fill: none;
  stroke: #242424;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}
@keyframes eyes {
  0%,
  79.999% {
    background-position: top left;
  }
  80%,
  100% {
    background-position: top right;
  }
}
@keyframes dog-drop {
  0% {
    opacity: 0;
  }
  10% {
    bottom: 800px;
    opacity: 1;
  }
  100% {
    bottom: -4px;
    opacity: 1;
  }
}
.dog-drop {
  position: absolute;
  bottom: -4px;
  right: 260px;
  opacity: 0;
  animation: dog-drop 0.8s 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
@media (max-width: 1199.98px) {
  .dog-drop {
    right: 170px;
  }
}
@media (max-width: 991.98px) {
  .dog-drop {
    right: 70px;
  }
}
@media (max-width: 767.98px) {
  .dog-drop {
    right: 25px;
    transform: scale(0.7);
    transform-origin: bottom;
  }
}
.dog {
  width: 158px;
  height: 300px;
  background-image: url("../img/pug.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  animation: eyes 3s infinite;
}
@keyframes ribbon-left-up {
  0% {
    height: 35.62px;
    y: 31.26;
  }
  60% {
    height: 10px;
    y: 31.26;
  }
  100% {
    height: 10px;
    y: -54;
  }
}
@keyframes angle-up {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-28px);
  }
  100% {
    transform: translateY(-113px);
  }
}
@keyframes gift-drop {
  0% {
    opacity: 0;
  }
  10% {
    bottom: 800px;
    opacity: 1;
  }
  100% {
    bottom: -100px;
    opacity: 1;
  }
}
.gift {
  position: absolute;
  bottom: -100px;
  left: 255px;
  opacity: 0;
  animation: gift-drop 0.8s 1s ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .gift {
    left: 165px;
  }
}
@media (max-width: 991.98px) {
  .gift {
    left: 65px;
  }
}
@media (max-width: 767.98px) {
  .gift {
    left: 45px;
    transform: scale(0.7);
    transform-origin: left 70%;
  }
}
.gift .card {
  width: 72px;
  height: 100px;
  background-image: url("../img/card.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  bottom: 124px;
  left: 30px;
  border: none;
  border-radius: 0;
  transition: 0.5s 0.6s;
}
.gift .card.card-up {
  bottom: 170px;
}
.gift #gift {
  width: 130px;
  height: 350px;
  position: relative;
}
.gift #gift.gift-no-point {
  pointer-events: none;
}
.gift #gift .box {
  fill: #f8cac3;
}
.gift #gift .lid {
  transition: 0.5s 0.6s;
}
.gift #gift .lid.lid-up {
  y: -50;
}
.gift #gift .ribbon-top {
  transform: translate(-346.25px, -451.3px);
  transition: 0.5s 0.6s;
}
.gift #gift .ribbon-top.ribbon-up {
  transform: translate(-346.25px, -536.3px);
}
.gift #gift .ribbon {
  transition: 0.4s;
}
.gift #gift .ribbon.ribbon-left-up {
  animation: ribbon-left-up 1s;
  animation-fill-mode: forwards;
}
.gift #gift .ribbon.angle-up {
  animation: angle-up 1s;
  animation-fill-mode: forwards;
}
.gift #gift .ribbon.ribbon-right-down {
  y: 50;
  height: 92px;
}
@keyframes fire-shake {
  0%,
  100% {
    fill: #fdd617;
    height: 22px;
  }
  50% {
    fill: #ffc514;
    height: 25px;
  }
}
@keyframes fire-shadow {
  0%,
  100% {
    opacity: 0.2;
    height: 100px;
    width: 100px;
  }
  50% {
    opacity: 0.15;
    height: 95px;
    width: 95px;
  }
}
.fire {
  height: 22px;
  width: 48px;
  position: absolute;
  bottom: 340px;
  left: 510px;
  fill: #fdd214;
  animation: fire-shake 1s infinite;
}
@media (max-width: 1199.98px) {
  .fire {
    left: 420px;
  }
}
@media (max-width: 991.98px) {
  .fire {
    left: 325px;
  }
}
@media (max-width: 767.98px) {
  .fire {
    bottom: 235px;
    left: 217px;
    transform: scale(0.7);
  }
}
.fire #fire {
  width: 100%;
  height: 100%;
}
.fire::before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fdea90;
  opacity: 0.15;
  position: absolute;
  bottom: -40px;
  left: -24px;
  animation: fire-shadow 1s infinite;
}
/*# sourceMappingURL=style.css.map */